/*---------------------------------------------------
   Main style stylesheet
   project:       Applandy - app landing page
   Version:       1.0
   Author:        Dragon-themes
   primary use:   marketing
-----------------------------------------------------*/

/*----------------------------------------------------
body
  +loading
  +header
  +home section
  +partners section
  +about section
  +features section
  +services section
  +why section
  +screenshots section
  +team section
  +review section
  +power section
  +video section
  +clients section
  +numbers section
  +download-section section
  +subscribe section
  +price-area section
  +download-app section
  +blog section
  +contact section
  +scroll to top button

------------------------------------------------------*/
*{
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

p{
	font-family: 'Hind', sans-serif;
	font-weight: 400;
}

 
 
a:focus,
a:hover{
    outline: none;
    text-decoration: none;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.heading{
    font-weight: 600;
    font-size: 33px;
    color: #333;
    text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	position: relative;
}

.heading:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 60px;
	background-color: #624de6;
}

.heading span{
    color: #624de6;
	font-size: 18px;
	font-weight: 300;
}

.para{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #333;
    margin-bottom: 60px;
}

.a-btn-red,
.a-btn-blue{ 
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 5px;
	color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    border: 0;
    position: relative;
	z-index: 1;
	overflow: hidden;
	 -webkit-transform: perspective(1px)translateZ(0px);
    		transform: perspective(1px)translateZ(0px);
	-webkit-transition: all 0.3s ease 0s;
	   -moz-transition: all 0.3s ease 0s;
		 -o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
}

.a-btn-red:hover,
.a-btn-blue:hover{
	color: #fff;
}

.a-btn-red:before,
.a-btn-blue:before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
   -webbkit- transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    -webbkit-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: -1;
}

.a-btn-red,
.a-btn-blue:before{
	-webkit-background: linear-gradient(45deg, #ff4444 0%, #f3724e 100%);
	     	background: linear-gradient(45deg, #ff4444 0%, #f3724e 100%);
}

.a-btn-blue,
.a-btn-red:before{
	-webkit-background: linear-gradient(45deg, #624de6 0%, #975aff 100%);
			background: linear-gradient(45deg, #624de6 0%, #975aff 100%);
}

.a-btn-red:hover:before,
.a-btn-blue:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*----------------------------------------------------
Start Section Loading
----------------------------------------------------*/
.loading-area {
    background:#222;
    color:#222;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#load {
    animation: spin 1.2s ease-in-out infinite;
    border: 1px solid transparent;
    border-top-color: #537d8b;
    border-radius: 100%;
    filter: drop-shadow(0 0 1px blue);
    height: 64px;
    width: 64px;
    margin: 0 auto;
    position: relative;
}

#load div {
    animation: spin 1s ease-in-out infinite;
    border: 1px solid transparent;
    border-radius: 100%;
    bottom: -1px;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;   
}

#load div:first-child {
 	border-top-color: #a74040;
 	transform: rotate(120deg);
}

#load div:last-child {
	animation-duration: 2s;
	border-top-color: #40a744;
	transform: rotate(240deg);
}

@keyframes spin {
 0% {
 	transform: rotate(0deg);
 }
	
 50% {
 	box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.2);
 	opacity: .7;
 }
 100% {
 	transform: rotate(360deg);
 }
} 
/*----------------------------------------------------
End Section Loading
----------------------------------------------------*/

.index-home{
    height: 300px;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

.index-home .overlay{
   background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(173, 30, 212, 0.85) 100%);
    height: 300px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.index-home h2{
	font-size: 25px;
	color: #fff;
	font-weight: 300
}

.demos{
	padding: 70px 0;
	text-align: center;
}

.demos .single-demo{
	margin-bottom: 30px;
}

.demos .single-demo .image{
	box-shadow: 0 5px 30px -9px #aaa;
	margin-bottom: 30px;
	transition: all 0.6s ease-in-out;
}

.demos .single-demo .image:hover{
	box-shadow: 0 10px 30px -2px #888;
	transform: translateY(-5px)
}

.demos .single-demo h2{
	font-size: 25px;
}
/*----------------------------------------------------
Start Section header
----------------------------------------------------*/
.header { 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    border-radius: 0; 
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    background-color: transparent;
} 

.navbar-brand{
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; 
} 

.header .navbar-brand .white{
	display: block;
}

.header .navbar-brand .blue{
	display: none;
}

.header.shrink .navbar-brand .white{
	display: none;
}

.header.shrink .navbar-brand .blue{
	display: block;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.header .navbar-nav { 
    margin: 0;
    float: right;
} 

.header .navbar-nav li a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 30px 15px;
    font-family: 'Montserrat', sans-serif;;
}

.header .navbar-nav li.download a{
	margin-top: 20px;
    background: linear-gradient(45deg, #4bbf77 0%, #61e694 100%);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

.header .navbar-nav li.download a:hover{
	background: linear-gradient(45deg, #4bbf77 0%, #61e694 100%);
}

.header.shrink .navbar-nav li.download a{
	margin-top: 12px;
	background: linear-gradient(45deg, #4bbf77 0%, #61e694 100%);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

.header.shrink .navbar-nav li.active.download a{
	color: #fff;
}

.header .navbar-nav li a:hover,
.header .navbar-nav li a:focus{
    background: none;
} 

.header .navbar-toggle { 
    margin-top: 20px;
    padding: 10px;
}

.header .navbar-toggle .icon-bar {
    background: #fff;
    height: 3px; 
}

.header ul.socail{
	list-style: none;
	position: absolute;
	top: 30px;
	right: 15px;
}

.header ul.socail li{
	display: inline-block;
}
 
.header.shrink {
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0 10px 25px -15px #999;
} 

.header.shrink .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
}

.header.shrink .navbar-nav li a {
    padding-top: 23px;
    padding-bottom: 23px;
    color: #333;
}

.header.shrink .navbar-nav li.active a{
	color: #ff4444;
}

.header.shrink .navbar-toggle { 
    margin-top: 10px;
    padding: 10px;
}

.header.shrink .navbar-toggle .icon-bar {
    background: #555;
    height: 3px; 
}
/*----------------------------------------------------
end Section header
----------------------------------------------------*/

/*----------------------------------------------------
start section home
----------------------------------------------------*/
.home{
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

.home .overlay{
   background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(173, 30, 212, 0.85) 100%);
    height: 100vh; 
}

.home .overlay .row{
	height: 100vh;
}

.home .overlay .title{
	height: 100vh;
	margin-top: 200px;
}

.home .overlay .title span{
    color: #fff;
    font-size: 45px;
	font-weight: 400;
	display: block;
	margin-bottom: 0px;
	margin-top: 0;
	line-height: 1.25;
	font-family: 'Fira Sans', sans-serif;
}

.home .overlay .title p{
    line-height: 1.6em;
    color: #e3e3e3;
    font-size: 17px;
	margin-bottom: 0;
}


.home .overlay .image img{
	margin-top: 100px;
	width: 250px;
	margin-left: 150px;
}

/*** start home-video for video page ***/
.home-video{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
	background-image: none;
}

.home-video .overlay{
   -webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.6) 0%, rgba(173, 30, 212, 0.7) 100%);
   background: linear-gradient(45deg, rgba(98, 77, 230, 0.6) 0%, rgba(173, 30, 212, 0.7) 100%);
    height: 100vh; 
}
 
.home-video .video-background{
    position: absolute;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -100
}

/*** start home-particles for particles page ***/
.home-particles{
	position: relative;
	-webkit-clip-path: none;
    clip-path: none;
}

.home-particles .row{
	position: absolute;
	top: 0;
}

/*** start home-pattern for pattern page ***/
.home .home-pattern{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.home .home-pattern.pattern-1{
	background-image: url(../images/Pattern-1.png);
}

.home .home-pattern.pattern-2{
	background-image: url(../images/Pattern-2.png);
}

.home .home-pattern.pattern-3{
	background-image: url(../images/Pattern-3.png);
}

.home .home-pattern.pattern-4{
	background-image: url(../images/Pattern-4.png);
}

/***** start home-clip for creative-demo *****/
.home-clip{
    background-color: #f7f7f7;
}

.home-clip .clip-1{
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	-webkit-clip-path:polygon(50% 0, 100% 0, 100% 90%, 73% 100%, 0 90%, 0 0);
			clip-path:polygon(50% 0, 100% 0, 100% 90%, 73% 100%, 0 90%, 0 0);
}

.home-clip .clip-2{
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	-webkit-clip-path:polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
			clip-path:polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
}

.home-clip .overlay{
   background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(173, 30, 212, 0.85) 100%);
    height: 100vh; 
}

.home-clip .overlay .row{
	height: 100vh;
}

.home-clip .overlay .title{
	height: 100vh;
	margin-top: 200px;
}

.home-clip .overlay .title span{
    color: #fff;
    font-size: 45px;
	font-weight: 400;
	display: block;
	margin-bottom: 0px;
	margin-top: 0;
	line-height: 1.25;
	font-family: 'Fira Sans', sans-serif;
}

.home-clip .overlay .title p{
    line-height: 1.6em;
    color: #e3e3e3;
    font-size: 17px;
	margin-bottom: 0;
}


.home-clip .overlay .image img{
	margin-top: 100px;
	width: 250px;
	margin-left: 150px;
}
/*----------------------------------------------------
end section home 
----------------------------------------------------*/

/*----------------------------------------------------
start partners Section
----------------------------------------------------*/
.partners{
    padding: 40px 0;
	background-color: #f7f7f7;
}

.partners-pattern{
	background-color: #fff;
}

.partners img{
    opacity: 0.4;
    margin-bottom: 15px;
	margin-top: 15px;
    max-width: 100%;
    cursor: pointer;
}

.partners img:hover{
    opacity: 1
}
/*----------------------------------------------------
end partners Section
----------------------------------------------------*/

/*----------------------------------------------------
start about Section
----------------------------------------------------*/
.about{
	padding: 70px 0;
}

.about .image img{
    width:250px;
}

.about .words h2{
	font-size: 40px;
	font-weight: 500;
	line-height: 1.25em;
	margin-right: 10%;
	margin-bottom: 20px;
	color: #333;
}

.about .words p{
	font-size: 16px;
	line-height: 26px;
	color: #555;
}

.about .words p:last-of-type{
	margin-bottom: 20px;
}

.about .words .fa{
	font-size: 50px;
	color: #ccc;
	margin-right: 15px;
}

.about .words .fa:hover{
	color: #ff4444;
}
/*----------------------------------------------------
end about Section
----------------------------------------------------*/

/*----------------------------------------------------
start features section 
----------------------------------------------------*/
.features{
	background-image: url(../images/karl-fredrickson-34579.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.features .overlay{
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(215, 21, 167, 0.75) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(215, 21, 167, 0.75) 100%);
	padding: 70px 0;
}

.features .heading{
	color: #fff;
}

.features .para{
	color: #eee
}

.features ul .single-feature{
	padding-top: 35px;
}

.features img{
	margin: auto;
	width: 275px;
	margin-top: -20px;
}

.features ul .single-feature .fa{
	clear: both;
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    width: 70px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.6);
	cursor: pointer;
	position: relative;
}

.features ul .single-feature .fa:after{
	content: '';
	position: absolute;
	left: 2.5%;
	top: 2.5%;
	width: 105%;
	height: 105%;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 50%;
	transition: all 0.6s ease-in-out;
}

.features ul .single-feature .fa:hover:after{
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}

.features ul .single-feature .fa:hover{
	background-color: #fff;
	color: #ff4444;
}

.features .left ul .single-feature .fa{
	float: right;
	margin-left: 20px;
}

.features .right ul .single-feature .fa{
	float: left;
	margin-right: 20px;
}

.features ul .single-feature .item{
	display: block;
	overflow: hidden
}

.features .left ul .single-feature .item{
	text-align: right;
}

.features .right ul .single-feature .item{
	text-align: left;
}

.features ul .single-feature .item h2{
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	margin-top: 10px;
}

.features ul .single-feature .item p{
	color: #ddd;
	font-size: 16px;
    line-height: 24px;
}
/*----------------------------------------------------
end features section 
----------------------------------------------------*/

/*----------------------------------------------------
start services Section
----------------------------------------------------*/
.services{
	padding: 70px 0;
	background-color: #f7f7f7;
}

.services .item{
	margin-bottom: 30px;
	text-align: center;
}

.services .item .icon{
	display: inline-block;
	font-size: 45px;
	color: #624de6;
}

.services .item h2{
	font-size: 26px;
	font-weight: 600;
	margin-top: 10px;
}

.services .item p{
	font-weight: 500;
	color: #555;
	font-size: 16px;
	line-height: 24px;
	margin: 0 10%;
}
/*----------------------------------------------------
end services Section
----------------------------------------------------*/

/*----------------------------------------------------
Start why Section
----------------------------------------------------*/
.why{
	position: relative;
}

.why .back{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-image: url(../images/pexels-photo-756439.jpeg);
	background-blend-mode: overlay;
	background-color: rgba(17, 4, 96, 0.5);
	background-size: cover;
	background-position: center;
	height: 100%;
}

.why .back .inner{
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 1px solid rgba(255,255,255,0.5);
}

.why .back h2{
	color: #fff;
}

.why .item p{
	line-height: 26px;
	font-size: 16px;
	font-weight: 400;
}

.why .item{
	padding: 50px;
}

.why .item .fa{
	font-size: 16px;
}


.why .back-two{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-image: url(../images/businessman-using-smartphone-at-outdoor-of-the-office-building_1356-223.jpg);
	background-blend-mode: overlay;
	background-color: rgba(17, 4, 96, 0.5);
	background-size: cover;
	background-position: center;
	height: 100%;
}

.why .back-two .inner{
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 1px solid rgba(255,255,255,0.5);
}

.why .back-two h2{
	color: #fff;
}

.why .fa{
	    background: linear-gradient(45deg, #624de6 0%, #9620e6 100%);
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 27px;
    color: #fff;
    border-radius: 50%;
}

.why p.checked{
	font-weight: 600;
	color: #444;
}
/*----------------------------------------------------
end why Section
----------------------------------------------------*/

/*----------------------------------------------------
Start screenshots Section
----------------------------------------------------*/
.screenshots{
	background-image: url(../images/pexels-photo-774920.jpeg);
	background-attachment: fixed;
	background-size: cover;
}

.screenshots .overlay{
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.82) 0%, rgba(215, 21, 167, 0.8) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.82) 0%, rgba(215, 21, 167, 0.8) 100%);
	padding: 70px 0;
}

.screenshots .heading{
	color: #fff;
}

.screenshots .para{
	color: #eee
}

.screenshots img{
	border-radius: 15px;
}
/*----------------------------------------------------
end screenshots Section
----------------------------------------------------*/

/*----------------------------------------------------
Start Section team
----------------------------------------------------*/
.team{
	padding: 70px 0;
    text-align: center;
	background-color: #f7f7f7;
}

.team .item{
    margin: 0 20px;
    padding-bottom: 50px;
}

.team .item .image{
	height: 250px;
	width: 250px;
	margin: auto;
	overflow: hidden;
	border-radius: 50%;
}

.team .item .image img{
	margin: auto;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
	height: 250px;
	width: 250px;
	border-radius: 50%;	 
}

.team .item:hover .image img{
    transform: scale(1.05);
}

.team .item .image{    
	position: relative;
	margin: auto;
	overflow: hidden;
} 

.team .item .social .fa{
    display: inline-block;
    font-size: 14px;
	margin: 0 2px;
	height: 30px;
	width: 30px;
	line-height: 30px;
    color: #fff;
	background-color: #333;
    border-radius: 50%;
	border: 1px solid transparent;
	-webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
         -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
}

.team .item .social a .fa-facebook{
	background-color: #4867aa;
}

.team .item .social a .fa-facebook:hover{
	border-color: #4867aa;
	color: #4867aa;
}

.team .item .social a .fa-twitter{
	background-color: #1da1f2;
}

.team .item .social a .fa-twitter:hover{
	border-color: #1da1f2;
	color: #1da1f2;
}

.team .item .social a .fa-google-plus{
	background-color: #dc4a38;
}

.team .item .social a .fa-google-plus:hover{
	border-color: #dc4a38;
	color: #dc4a38;
}

.team .item .social a .fa-rss{
	background-color: #ec8232;
}

.team .item .social a .fa-rss:hover{
	border-color: #ec8232;
	color: #ec8232;
}

.team .item .social a .fa:hover{
	background-color: transparent;
}

.team .item h5{
    color: #333;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}

.team .item span{
    color: #888;
    font-weight: 300;
    font-size: 16px;
    display: block;
	margin-bottom: 20px;
	position: relative;
}

.team .item span:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	height: 2px;
	width: 60px;
	background-color: #624de6;
}

.team .item p{
    color: #555;
    font-size: 15px;
    line-height: 22px;
}
/*----------------------------------------------------
end Section team
----------------------------------------------------*/

/*----------------------------------------------------
start review Section
----------------------------------------------------*/
.review{
 	background-image: url(../images/k-170-chim-1613.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	text-align: center
}

.review .heading{
	color: #fff;
}

.review .para{
	color: #ddd;
}

.review .overlay{
	padding: 70px 0;
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.82) 0%, rgba(164, 30, 212, 0.85) 100%);
}

.review .item .image{
	position: relative;
}

.review .item .image .video-box{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.review .item .image .video-box:hover{
	background: linear-gradient(60deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.75) 100%);
}

.review .item .image .video-box .fa{
	display: inline-block;
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 25px;
	padding-left: 5px;
	border: 2px solid #fff;
	border-radius: 50%
}

.review .item h2{
	font-size: 22px;
	color: #fff;
	margin-bottom: 0px;
}

.review .item span{
	font-size: 16px;
	color: #ddd;
	display: block;
	margin-bottom: 10px;
}

.review .item .fa{
	color: goldenrod;
}
/*----------------------------------------------------
end review Section
----------------------------------------------------*/

/*----------------------------------------------------
start power Section
----------------------------------------------------*/
.first-power{
	padding-top: 70px;
	padding-bottom: 0;
}
.second-power{
	padding: 70px 0;
}

.power .item{
	margin-bottom: 30px;
}

.power .item img{
	margin: auto;
}

.power .item img.first-image{
	margin-top: 70px;
}

.power .item img.second-image{
	margin-top: 20px;
}
 
.power .item h2{
	font-size: 35px;
	font-weight: 600;
	margin-top: 120px;
}

.power .item p{
	font-size: 18px;
	line-height: 28px;
	color: #555;
}
/*----------------------------------------------------
end power Section
----------------------------------------------------*/

/*----------------------------------------------------
start video Section
----------------------------------------------------*/
.video{
	background-image: url(../images/pexels-photo-175697.jpeg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.video .overlay{
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(215, 21, 167, 0.75) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(215, 21, 167, 0.75) 100%);
	padding: 70px 0;
}

.video h2{
	color: #fff;
	font-size: 35px;
}

.video p{
	color: #f5f5f5;
	margin: 0 20% 20px 20%;
}

.video a{
	font-size: 25px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	padding-left: 5px;
	display: inline-block;
	color: #333;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid transparent;
}

.video a:hover{
	border-color: rgba(255,255,255,0.6);
	background-color: transparent;
	color: #fff;
}
/*----------------------------------------------------
end video Section
----------------------------------------------------*/

/*----------------------------------------------------
start clients Section
----------------------------------------------------*/
.clients{
	padding: 70px 0;
    background-color: #f7f7f7;
	text-align: center;
}

.clients .item p .icon{
	color: #888;
	font-size: 40px;
	margin-bottom: 10px;
	display: block;
}

.clients .item .star .fa{
	display: inline-block;
	color: goldenrod;
	font-size: 14px;
}

.clients .item img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin: auto;
}

.clients .item p{
	color: #444;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	margin: 10px 26% 20px 26%;
	font-style: italic;
}

.clients .item h4{
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 22px;
}

.clients .item span{
	color: #666;
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
	
}
/*----------------------------------------------------
end clients Section
----------------------------------------------------*/

/*----------------------------------------------------
start numbers section 
----------------------------------------------------*/
.numbers{
    background-image: url(../images/kari-shea-107390.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    text-align: center;
}

.numbers .overlay{
	padding: 70px 0;
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
}

.numbers .item{
    margin-bottom: 30px;
}

.numbers .item .icon{
	font-size: 55px;
	color: #fff
}

.numbers .item h1{
    color: #fff;
    font-weight: 800;
    font-size: 45px;
	margin-top: 10px;
	margin-bottom: 0;
}

.numbers .item p{
    color: #fff;
	opacity: 0.85;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 400;
}
/*----------------------------------------------------
end numbers section 
----------------------------------------------------*/

/*----------------------------------------------------
Start our-faqs Section
----------------------------------------------------*/
.our-faqs{
	padding: 70px 0;
}

.our-faqs .image{
	margin-bottom: 30px;
}

.our-faqs h3{
	font-size: 22px;
	font-weight: 600;
	padding: 10px 20px;
	background-color: #624de6;
	color: #fff;
	cursor: pointer;
}

.our-faqs h3.colored{
	background-color: #f55
}

.our-faqs .questions p{
    display: none;
    margin-top: 10px;
    color: #555;
    line-height: 24px;
    font-size: 15px;
	font-weight: 400;
    padding: 10px;
	box-shadow: 0 1px 30px -2px #d3d3d3;
}
/*----------------------------------------------------
end our-faqs Section
----------------------------------------------------*/

/*----------------------------------------------------
start subscribe Section
----------------------------------------------------*/
.subscribe{
	background-image: url(../images/k-170-chim-1613.jpg);
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	text-align: center;
}

.subscribe .overlay{
	padding: 70px 0;
	-webkit-background:linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(32, 208, 232, 0.85) 100%);
	background:linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(32, 208, 232, 0.85) 100%);
}

.subscribe h2{
	font-size: 33px;
	color: #fff
}

.subscribe p{
	font-size: 16px;
	margin: 0 15%;
	color: #ddd;
	margin-bottom: 30px;
}

.subscribe .form-group{
	position: relative;
	overflow: hidden;
	border-radius: 50px;
}

.subscribe input{
	background-color: #fff;
	border-radius: 50px;
	border: none;
	height: 40px;
	padding: 10px 20px;
	width: 100%;
	font-weight: 400;
}

.subscribe button{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	margin-top: 0;
	margin-right: 0;
	border-radius: 50px;
	padding: 10px 40px;
	font-weight: 500;
}
/*----------------------------------------------------
end subscribe Section
----------------------------------------------------*/

/*----------------------------------------------------
Start price-area Section
----------------------------------------------------*/
.price-area{
	padding: 70px 0;
	background-color: #f7f7f7;
}

.price-area .item{
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	text-align: left;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
}

.price-area .item .item-inner{
	padding-left: 30px;
}

.price-area .item .price-box{
	margin-bottom: 30px;
	padding-top: 30px;
}

.price-area .item .price-box h2{;
	font-size:40px;
	font-weight: 600;
	margin-bottom: 20px;
}

.price-area .item .price-box span{
	font-size: 30px;
	font-weight: 300;
}

.price-area .item .price-box span strong{
	font-weight: 500;
}

.price-area .item .price-box p{
	margin: 10px 12% 10px 0;
	line-height: 24px;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 0;
	border-bottom: none;
}

.price-area .item p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 10px;
}

.price-area .item p:last-of-type{
	border-bottom: none;
}

.price-area .item p span{
	color: #fff;
    padding: 0px 3px;
    border-radius: 5px;
    display: inline-block;
    background-color: #ff4444;
    margin-left: 6px;
    font-size: 13px;
    font-weight: 400;
}

.price-area .item p .fa-check{
	background-color: #624de6;
	color: #fff;
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 50%;
	text-align: center;
}

.price-area .item p .fa-close{
	background-color: #aaa;
	color: #fff;
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 50%;
	text-align: center;
}

.price-area .item .a-btn-blue{
	display: block;
	margin-top: 30px;
	border-radius: 0;
	padding: 15px;
	text-align: center;
	width: 100%;
}
/*----------------------------------------------------
end price-area Section
----------------------------------------------------*/

/*----------------------------------------------------
start download-app Section
----------------------------------------------------*/
.download-app{
	background-image: url(../images/kari-shea-107390.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	text-align: center;
}

.download-app .overlay{
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
	padding: 70px 0;
}

.download-app .heading{
	color: #fff;
}

.download-app .para{
	color: #eee
}

.download-app .a-btn{
	position: relative;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 20px;
	padding-left:55px;
	border-radius: 80px;
	-webkit-background: linear-gradient(45deg, #ff4444 0%, #f3724e 100%);
	     	background: linear-gradient(45deg, #ff4444 0%, #f3724e 100%);
	color: #fff;
	transition: transform 0.4s ease-in-out;
}

.download-app .a-btn:hover{
	transform: translateY(-5px);
	background: #624de6;
	color: #fff
}

.download-app .a-btn .fa{
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 5px;
	display: inline-block;
	font-size: 35px;
}

.download-app .a-btn strong{
	letter-spacing: 0.5px;
	font-weight: 700
}
/*----------------------------------------------------
end download-app Section
----------------------------------------------------*/

/*----------------------------------------------------
Start blog Section
----------------------------------------------------*/
.blog{
	padding: 70px 0;
}

.blog .item{
	margin-bottom: 30px;
	box-shadow: 0 5px 30px -6px #ccc;
	padding-bottom: 20px;
}

.blog .item .image{
	position: relative;
}

.blog .item .image .overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(17, 4, 96, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.blog .item .image:hover .overlay{
	opacity: 1
}

.blog .item .image .overlay .fa{
	color: #fff;
	font-size: 30px;
}

.blog .item h2{
	font-size: 25px;
	margin: 10px 0;
	padding: 0 20px;
	color: #333;
}

.blog .item h2:hover{
	color: #624de6;
}

.blog .item p{
	font-size: 16px;
	line-height: 24px;
	color: #555;
	padding: 0 20px;
}

.blog .item p .fa{
	color: #aaa;
}

.blog .item p:first-of-type{
	margin: 10px 0;
	color: #555
}

.blog .item p .fa-comments,
.blog .item p .fa-heart-o{
	display: inline-block;
	margin-left: 10px;
}

.blog .item .a-btn-blue{
	margin-top: 10px;
	margin-left: 20px;
	
}
/*----------------------------------------------------
end blog Section
----------------------------------------------------*/

/*----------------------------------------------------
start contact-me Section
----------------------------------------------------*/
.contact {
	padding: 70px 0;
    text-align: center;
    background-color: #f7f7f7;
}

.contact-form {
    border-radius: 3px;
}

.form-group{
    margin-bottom: 0;
}

.form-group .help-block{
	color: #ff4444;
}

.has-error .form-control,
.has-error .form-control:focus{
	border: 1px solid rgba(98, 77, 230, 0.6);
	box-shadow: none;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-indent: 20px;
    background-color: rgba(255,255,255,0.95);
    background-image: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: none;
    margin-bottom: 30px;
    font-weight: 500;
	border-radius: 20px;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid #222;
}

.contact-form .a-btn-red{
	border-radius: 50px;
	box-shadow: 0 12px 30px -5px #888;
	transition: all 0.6s ease-in-out;
}

.contact-form .a-btn-red:hover{
	box-shadow: 0 5px 30px -9px #888;
}

.contact-form .a-btn-red .a-btn-overlay{
	background: none;
}
/*----------------------------------------------------
end contact-me Section
----------------------------------------------------*/

#map{
	height: 600px;
	width: 100%;
}
/*----------------------------------------------------
start social-icon-div
----------------------------------------------------*/
 .social-icon-div{
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.social-icon-div h2{
	font-size: 35px;
	font-weight: 600;
	color: #fff;
}

 .social-icon-div a{
	display: inline-block;
    margin-top: 20px;
    color: #bbb;
    margin-right: 10px;
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
	background-color: #111;
    margin-bottom: 30px;
	border-radius: 50%;
}

.social-icon-div a:hover{
	background-color: #624de6;
	color: #fff;
}

.social-icon-div a .fa{
	transition: all 0.6s ease
}

.social-icon-div p{
    color: #eee;
    font-weight: 400;
}
/*----------------------------------------------------
end social-icon-div
----------------------------------------------------*/

/*----------------------------------------------------
start scroll-top div
----------------------------------------------------*/
#scroll-top {
    width:50px;
    height:50px;
    color:#fff;
    background-color:#624de6;
    text-align:center;
    position:fixed;
    right:15px;
    bottom:10px;
    z-index:9999;
    display: none;
    cursor:pointer;
    padding: 10px;
	border-radius: 50%;
	box-shadow: 0 5px 25px -6px #aaa;
}

#scroll-top:hover {
    opacity: 0.7;
}

#scroll-top i{
    line-height: 26px;
	font-size: 20px;
}1
/*----------------------------------------------------
end scroll-top div
----------------------------------------------------*/